*
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box
	box-sizing:border-box;
}
body
{
	margin: 0;
}
.call-to-action
{
	alignment-baseline: central;
	text-align: center;
}
.column
{
	width: 50%;
	float: left;
}
.container
{
	margin: auto;
	max-width: 960px;
	width: 100%
}
h1,h3
{
	text-align: center;
	margin: auto;
}
.header-title
{
	width: 700px;
}
.header-subtitle
{
	margin-top: 50px;
	width: 425px;
}
.intro
{
	float: left;
	width: 50%;
	padding-top: 50px;
}
p
{
	text-align: center;
    margin: auto;
    padding-top: 10px
}
.intro-button
{
	height: 100%;
    padding-top: 50px;
}
.logo
{
	float: left;
	width: 320px;
}
.menu
{
	color: #ffffff;
	display: inline-block;
	float: right;
	width: 300px;
	padding-top: 40px;
}
.menu > li
{
	display: inline-block;
	padding: 0 10px 0 0;
}
.nav
{
	height: 100px;
	width: 100%;
}
.references
{
    margin: 0 10% 0 10%;
    text-align: left;
}
.references > p
{
	text-align: left;
}
.row
{
	width: 50%;
	float: left;
	margin-top: 50px;
	margin-bottom: 30px;
}
.title-wrapper
{
	padding-top: 200px;
}

ul
{
	list-style: none;
	margin: 0;
	padding 0;
}
.works
{
	max-width: 80%;
    margin: auto;
}